.card {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.card__photo {
    width: 100%;
    aspect-ratio: 1/1;
    height: 413px;
    object-fit: cover;
    border-radius: 8px;
}

.card__info {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.card__text {
    font-weight: 500;
}

.card__like-button {
    background-image: url("../images/card_like.svg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 23px;
    height: 20px;
    opacity: 40%;
    transition: opacity .3s ease-in-out;
    cursor: pointer;
    border: none;
    padding: 0;
}

.card__like-button:hover {
    opacity: 100%;
}

.card__text {
    margin: 0;
    font-size: 1.25rem;
    line-height: 1.2;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 30ch;
}

@media screen and (max-width: 879px){
    .card__photo {
        height: 288px;
        object-fit: cover;
        border-radius: 8px;
    }

    .card__like-button {
        width: 20px;
        height: 18px;
    }

    .card__text {
        font-size: 1rem;
        line-height: 1;
    }
}