.card {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 12px;
}

.card__photo {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 413px;
}

.card__full-image-button {
    width: 100%;
    height: 100%;
    background-color: transparent;
    position: absolute;
    cursor: pointer;
    border: 0 solid white;
    border-radius: 8px;
    transition: border 0.3s ease, background-color 0.3s ease;
    z-index: 1;
}

.card__full-image-button:hover {
    border: 5px solid rgba(33, 33, 33, 0.8);
}

.card__image {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
    top: 0;
    left: 0;
    z-index: 0;
}

.card__delete-button {
    position: absolute;
    background-image: url("../images/card_delete_idle.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    cursor: pointer;
    width: 32px;
    height: 32px;
    top: 10px;
    right: 10px;
    padding: 0;
    transition: .3s ease-in-out;
    z-index: 2;
}

.card__delete-button:hover {
    background-image: url("../images/card_delete_hover.svg");
}

.card__info {
    display: flex;
    justify-content: space-between;
}

.card__text {
    margin: 0;
    font-size: 1.25rem;
    line-height: 1.25;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
    font-weight: 500;
    width: 25ch;
}

.card__like-button {
    background-image: url("../images/card_like_idle.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    width: 23px;
    height: 20px;
    opacity: .4;
    transition: opacity .3s ease-in-out;
    cursor: pointer;
    border: none;
    padding: 0;
}

.card__like-button:hover {
    opacity: 1;
}

.card__like-button--active {
    background-image: url("../images/card_like_hover.png");
    opacity: 1;
}

.card__like-button--active:hover {
    opacity: .4;
}

@media screen and (max-width: 879px){
    .card__photo {
        height: 288px;
    }

    .card__like-button {
        width: 20px;
        height: 18px;
    }

    .card__text {
        font-size: 1rem;
        line-height: 1.03;
    }
}