.header {
    display: flex;
    justify-content: center;
    color: #212121;
    align-items: center;
    background-color: #FFF;
    z-index: 1;
}

.header__icon {
    width: 94px;
    height: 26px;
    padding: 10px 0;
    margin: 0;
}