.header {
    margin: 0 auto;
    position: relative;
}

.header::after {
    content: '';
    position: absolute;
    bottom: 0;
    height: 1px;
    background-color: #21212166;
}

.header__user {
    display: flex;
}

.header__list {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
}

.header__list-item {
    max-width: 420px;
}

.header__text {
    margin: 0;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: 1;
}

.header__text--description {
    opacity: 70%;
}

.header__edit-profile {
    display: flex;
    cursor: pointer;
    background: none;
    border: none;
    padding: 0;
    gap: 8px;
    opacity: 70%;
    transition: opacity .5s ease-in-out;
}

.header__edit-icon {
    opacity: inherit;
}

.header__edit-profile:hover {
    opacity: 100%;
}

.header__new-post {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #212121;
    border: none;
    border-radius: 8px;
    color: #FCF5E5;
    padding: 0;
    font-weight: 500;
    transition: opacity .7s ease-in-out;
    cursor: pointer;
    height: 52px;
    gap: 8px;
}

.header__new-post:hover {
    opacity: 80%;
}

.header__new-post-icon {
    width: 12px;
    height: 12px;
}

@media screen and (min-width: 880px){
    .header {
        padding: 34px 80px 20px;
        max-width: 1440px;
    }

    .header::after {
        width: calc(100% - 160px);
    }

    .header__avatar {
        width: 190px;
        height: 190px;
    }

    .header__list {
        margin: 0 0 0 20px;
    }

    .header__list-item:nth-child(2) {
        margin: 12px 0 auto;
    }

    .header__text--username {
        font-size: 2rem;
    }

    .header__new-post {
        margin: 138px 0 0 auto;
        width: 149px;
    }
}

@media screen and (max-width: 879px){
    .header {
        padding: 20px 16px;
        max-width: 400px;
    }

    .header::after {
        width: calc(100% - 32px);
    }

    .header__avatar {
        width: 80px;
        height: 80px;
    }

    .header__user {
        flex-direction: column;
        align-items: center;
    }

    .header__list {
        margin: 12px 0 0;
    }

    .header__text {
        text-align: center;
    }

    .header__list-item:nth-child(2) {
        margin: 6px 0 32px;
    }

    .header__text--username {
        font-size: 1.25rem;

    }

    .header__edit-profile {
        margin: 0 auto;
    }

    .header__new-post {
        margin: 20px 0 0;
        width: 100%;
        max-width: 288px;
    }
}