.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    z-index: 3;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.5s ease;
}

.modal__overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    width: inherit;
    height: inherit;
    background: rgba(0, 0, 0, 0.75);
    transform: scale(0.95);
    transition: transform 0.3s ease;
}

.modal_opened {
    opacity: 1;
    visibility: visible;
}

.modal_opened .modal__overlay {
    transform: scale(1);
}

.modal__container {
    display: flex;
    width: calc(730px - 50px * 2);
    flex-direction: column;
    background-color: #FFF;
    padding: 32px 50px;
    border-radius: 8px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.modal__header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 32px;
}

.modal__header-text {
    font-weight: 500;
    margin: 0;
    font-size: 2rem;
    line-height: 1;
}

.modal__header-close-button {
    background-image: url("../images/close_icon_black.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-color: white;
    border: none;
    width: 40px;
    height: 40px;
    cursor: pointer;
    opacity: .4;
    transition: opacity .3s ease-in-out;
}

.modal__header-close-button:hover {
    opacity: 1;
}

.modal__form-fieldset {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border: none;
    margin: 0;
    padding: 0;
}

.modal__form-label {
    opacity: .7;
    padding-bottom: 10px;
    line-height: 1.1;
}

.modal__form-input {
    border: 1px solid #000;
    border-radius: 8px;
    padding: 16px 12px;
    font-size: 1.25rem;
    line-height: 1;
    margin-bottom: 32px;
    opacity: .4;
    transition: opacity .3s ease-in-out;
}

.modal__form-input:hover,
.modal__form-input:focus {
    opacity: 1;
}

.modal__form-button {
    background-color: #212121;
    border: none;
    border-radius: 8px;
    color: #FCF5E5;
    font-weight: 500;
    transition: opacity .7s ease-in-out;
    cursor: pointer;
    width: 156px;
    height: 52px;
    padding: 18px 32px;
    line-height: 1;
}

.modal__form-button:hover {
    opacity: .8;
}

.modal__full-image {
    display: grid;
    grid-template-columns: 1fr 40px;
    grid-row-gap: 8px;
    grid-column-gap: 13px;
}

.modal__full-image-img {
    max-width: 80vw;
    max-height: 80vh;
    border-radius: 8px;
}

.modal__full-image-close-button {
    background-image: url("../images/close_icon_white.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    border: none;
    width: 40px;
    height: 40px;
    cursor: pointer;
    opacity: .4;
    transition: opacity .3s ease-in-out;
    padding: 0;
}

.modal__full-image-close-button {
    opacity: 1;
}

.modal__full-image-text {
    width: fit-content;
    background-color: #212121;
    color: #FFF;
    font-size: 1.25rem;
    line-height: 1.2;
    padding: 4px 8px;
    border-radius: 8px;
    margin: 0;
}

@media screen and (max-width: 879px){
    .modal__container {
        width: calc(300px - 12px * 2);
        padding: 12px;
        font-size: 0.75rem;
        line-height: 0.75;
    }

    .modal__header {
        padding-bottom: 24px;
    }

    .modal__header-text {
        font-size: 1.25rem;
        line-height: 1;
        align-self: center;
    }

    .modal__form-label {
        padding-bottom: 8px;
    }

    .modal__form-input {
        font-size: 1rem;
        margin-bottom: 24px;
    }

    .modal__form-button {
        width: 276px;
    }

    .modal__full-image {
        grid-template-columns: 1fr;
        padding: 0 16px;
    }

    .modal__full-image-img {
        max-width: 100%;
    }

    .modal__full-image-close-button {
        order: -1;
        margin-left: auto;
    }

    .modal__full-image-text {
        font-size: 1rem;
        line-height: 1.2;
    }
}
