.nav {
    display: flex;
    justify-content: center;
    background-color: #FFF;
    z-index: 1;
}

.nav__link {
    display: flex;
    text-decoration: none;
    color: #212121;
    align-items: center;
}

.nav__link-icon {
    width: 10px;
    height: 16px;
}

.nav__link-text {
    font-family: 'DM Mono', serif;
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.625rem;
    margin: 0;
    padding: 10px 0 10px 8px;
}