.page {
    margin: 0 auto;
    background-color: #FCF5E5;
    z-index: -1;
    font-family: Poppins, Arial, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    color: #212121;
    border-radius: 8px;
}