.header {
    display: flex;
    justify-content: center;
    color: #212121;
    align-items: center;
    background-color: #FFF;
    z-index: 1;
}

.header__logo {
    background-image: url("../images/logo.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    width: 94px;
    height: 26px;
    margin: 10px 0;
}