.main {
    position: relative;
    margin: 0 auto;
    padding: 34px 80px 40px;
    max-width: 1440px;
}

.main::after {
    content: '';
    position: absolute;
    bottom: 0;
    height: 1px;
    background-color: #21212166;
    width: calc(100% - 160px);
}

@media screen and (max-width: 879px){
    .main {
        padding: 20px 16px;
        max-width: 400px;
    }

    .main::after {
        width: calc(100% - 32px);
    }
}